name: GitHub Actions Demo

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "15 6 * * SUN"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: echo "hello"
